.place__title {
  margin: 0;

  grid-area: title;

  font: 900 32px/35px "Inter", sans-serif;
}

@media (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}
