.header__logo {
  width: 142px;
  height: 42px;

  grid-area: logo;

  background-image: url('../../../images/logo_small.svg');
  background-size: contain;
}

@media (min-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;

    background-image: url('../../../images/logo_large.svg');
  }
}
