.place__text {
  grid-area: text;
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;

  font: 400 16px/163% "Inter", sans-serif;
}

@media (min-width: 1024px) {
  .place__text {
    font-size: 18px;
  }
}
