.lead__title {
  margin: 0;

  grid-area: title;

  font: 900 40px/44px "Inter", sans-serif;
  text-align: center;
}

@media (min-width: 384px) {
  .lead__title {
    font-size: 48px;
    line-height: 50px;
  }
}

@media (min-width: 576px) {
  .lead__title {
    font-size: 72px;
    line-height: 75px;
  }
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}
