.footer__links {
  --font-size: 24px;
  --line-height: 24px;

  display: flex;
  flex-flow: column nowrap;
  gap: 32px;

  font: 400 var(--font-size)/var(--line-height) "Inter", sans-serif;
}

@media (min-width: 768px) {
  .footer__links {
    --font-size: 16px;
    --line-height: 18px;

    flex-flow: row nowrap;
    gap: 18px;
  }
}
