.cover {
  position: relative;
  width: 100%;
  max-width: 1184px;
  height: calc(100vw / 1.6);
}


@media (min-width: 1184px) {
  .cover {
    height: 740px;
  }
}

.cover::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 1;

  background-image: url('../../images/cover/320w@1x.jpg');
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 1.3), /* Safari support */
       (min-resolution: 1.3dppx) {
  .cover::before {
    background-image: url('../../images/cover/320w@2x.jpg');
  }
}

@media (min-width: 321px) {
  .cover::before {
    background-image: url('../../images/cover/768w@1x.jpg');
  }
}
@media (min-width: 321px) and (-webkit-min-device-pixel-ratio: 1.3),
       (min-width: 321px) and (min-resolution: 1.3dppx) {
  .cover::before {
    background-image: url('../../images/cover/768w@2x.jpg');
  }
}

@media (min-width: 769px) {
  .cover::before {
    background-image: url('../../images/cover/1024w@1x.jpg');
  }
}
@media (min-width: 769px) and (-webkit-min-device-pixel-ratio: 1.3),
       (min-width: 769px) and (min-resolution: 1.3dppx) {
  .cover::before {
    background-image: url('../../images/cover/1024w@2x.jpg');
  }
}

@media (min-width: 1025px) {
  .cover::before {
    background-image: url('../../images/cover/1184w@1x.jpg');
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.3),
       (min-width: 1025px) and (min-resolution: 1.3dppx) {
  .cover::before {
    background-image: url('../../images/cover/1184w@2x.jpg');
  }
}
