.place {
  display: grid;
  grid-template:
    ". title ."
    ". . ." 32px
    ". url ."
    ". . ." 12px
    ". link ."
    ". . ." 32px
    "img img img"
    ". . ." 32px
    ". text ."
    / 16px 1fr 16px;
}

@media (min-width: 768px) {
  .place {
    --img-width: 340px;
    --table-gap: 28px;
    grid-template:
      "title . url" 1fr
      "title . ." 12px
      "title . link"
      ". . ." 48px
      "img . text"
      / var(--img-width) var(--table-gap) 1fr;
  }
}

@media (min-width: 1024px) {
  .place {
    --img-width: 440px;
    --table-gap: 32px;
  }
}

@media (min-width: 1280px) {
  .place {
    --img-width: 460px;
    --table-gap: 40px;
  }
}
